.image-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 2%;
    margin: 0 auto;
}
.images{
    width: 90%;
    overflow: hidden;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
input{
    position: relative;
    right: 450px; 
    bottom: 70px;
    width:50% ;
    height: 3vh;
}
body{
    background-color: black;
    color: aliceblue;
}
.search{
    color: #e6dede;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -850px;
    padding: 10px; 
}